.container {
    width:1080px;
        margin: 0 auto;
    background:#FFFFAA;
}

.header h1{
    float: left;
    margin: 0 50px 0 30px;
}

.header{
    clear: both;
    padding-bottom:20px;
    background:#FFAAAA;
}

.header ul{
    padding-top:10px;
}
nav ul li {
    display: inline;
    padding-left:20px;
    margin-top:10px;
}

.content{
    width: 75%;
    float: left;
    background:#88cc88;
}

.content img {
    float: left;
    margin: 0 20px;
}

.description{
    clear: right;
    padding: 10px 20px 0;
    
}

.top-content{
    clear: both;
    height: 230px;
}

.aside {
    width 25%;
    float: left;
    text-align: center;  
}

.aside ul{
    padding: 0;
}

.aside ul li{
    list-style-type: none;
    padding:5x 0;
}

.section {
    width: 30%;
    float: left;
    background:#88cc88;
}

.footer{
    clear:both;
    text-align: center;
    padding: 10px 0;
    background: #738ca6;
}
   
   .footer ul li{
       list-style-type: none;
   } 
