
        .container {
            width:50%
                margin:0 auto;
        }
        
        .left {
            float:left;
            width: 40%;
        }
                
        .right {
            float:left;
            width: 40%;
            margin-left:10;
        }
        
        table, tr, th, td {
            border; 1px solid black;
            padding 8px;
        }
            table{
                margin-bottom: 50px;
            }
      h1 {
      font-color: #339966;
    }
        body {
        margin: 0;
        padding: 0;
        font-family: georgia, times, "times new roman", serif;
        background-color: #EBFFAD;
        }
        tr:nth-child(even) {background:#CCC}
        tr:nth-child(even) {font:#339966}
        p:first-child {
    color:#548263;
    }
      li:nth-child(24) {backgrounf:#FF0000}
        
        a:hover {
    color: #FF00FF;
    }
