.header h1 {
    text-align: right;
    margin-right: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
}

body,
html {
margin:0;
padding:0;
color:#000;
background-color:#336633;
}

.wrap {
width:75%;
margin:0 auto;
background:#CCCC66;
}

.header {
background:#CCCC66;
    
}

.nav {
background:#339900;
 border-bottom: 5px dashed white;   
}

.nav ul{
    padding: 10px 0;
    margin:0;
}

    .nav ul li {
        list-style-type: none;
        display: inline;
        padding-left: 20px;
    }
    
.content {
background:#669966;
float:left;
width:80%;  
}

.content ul li {
    list-style-type: none;
    text-align: center;
    font-family:sans-serif;
    font-size: 20px;
}

.content p{
    color: #336633;
    font-family:sans-serif;
}

.content h1, .content p{
    padding: 0 20px;
}

.sidebar {
float:right;
width:20%;
background:#CCCC66;
}

.sidebar h2 {
    text-align: center;
}


.footer {
background:#339900;
    clear: both;
}
